.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(56, 51, 51, 0.336);
  color: white;
  flex-wrap: wrap;
  overflow-x: hidden;
  font-size: 13.4px;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  opacity: 0.85;
  margin-left: 70px;
}

.nav-logo {
  margin: 0px 10px;
  opacity: 1;
}

.brand {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  line-height: 70px;
  vertical-align: middle;
  margin-left: -10px;
}

.highlight {
  color: #d0d1d3;
}

.menu-links ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: orange;
}

.btn-outline,
.btn-filled {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid orange;
  background: transparent;
  color: white;
  transition: all 0.3s ease;
}

.btn-filled {
  background: orange;
  color: white;
  margin-right: 70px;
}

.btn-outline:hover {
  background: orange;
  color: white;
}

.btn-filled:hover {
  background-color: transparent;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.8rem;
  user-select: none;
}
/* footer */

.footer-wrapper {
  width: 100%;
  background: #111;
  color: #ccc;
  font-family: "Orbitron", sans-serif;
}

.support-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  padding: 40px 60px;
  border-bottom: 3px solid #000;
  flex-wrap: wrap;
}

.support-email {
  padding: 40px 30px;
}

.support-email h2 {
  color: #ccc;
  font-weight: 500;
  font-size: 28px;
  margin: 0;
}

.support-email span {
  color: #fff;
  font-weight: 700;
}

.support-email p {
  max-width: 700px;
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}

.arrow-button {
  font-size: 26px;
  background: #333;
  color: white;
  padding: 14px 32px;
  border: none;
  cursor: pointer;
  border-left: 4px solid orange;
  transition: background 0.3s;
  margin-right: 15vh;
}

/* --- Main Footer --- */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  gap: 40px;
  background: #111;
}

.footer-left {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  margin-left: 80px;
}

.footer-left .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-left .logo img {
  height: 30px;
}

.footer-left p {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
  max-width: 300px;
  text-align: justify;
}
.logo span {
  margin-left: -10px;
  color: rgb(236, 235, 235);
  font-size: 21px;
}
/* --- Footer Columns --- */
.footer-links {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 500px;
  height: 60vh;
}

.footer-links h4 {
  color: #8a8282;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 10px;
}

.footer-links p {
  margin: 22px 0;
  font-size: 12px;
  color: #525151;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-links p:hover {
  color: white;
}

/* --- Bottom Row --- */
.footer-bottom {
  border-top: 1px solid #222;
  background: #000;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #666;
  display: flex;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-bottom p {
  font-size: 12px;
}

.footer-bottom .social-icons {
  flex: 1;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-left: 118vh;
}

.social-icons svg {
  color: white;
  font-size: 15px;
  transition: color 0.3s;
  cursor: pointer;
}

.social-icons svg:hover {
  color: #f90;
}

.hero {
  background-image: url(../public/page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 140vh;
  width: 100%;
  position: relative;
}

.hero-section {
  position: absolute;
  top: 24%;
  left: 18%;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero-section h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 10px 0;
}

.hero-section p {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}

.car-form {
  position: absolute;
  top: 24%;
  right: 8%;
  background-color: #fff;
  color: #000;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  width: 320px;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  background-color: #ff6600;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* How it works */
.how-work {
  position: absolute;
  top: 120%;
  left: 18%;
  margin-top: -10px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 0.8px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.how-work h2 {
  font-size: 32px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #ff6600;
}

.flex {
  display: flex;
  justify-content: center;
}

.box {
  padding: 30px 25px;
  border-radius: 10px;
  width: 300px;
}

.box h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ff6600;
}

.box p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.icon {
  font-size: 32px;
  color: black;
  margin-bottom: 15px;
}

/* 10 mint video*/
body {
  background-color: #f7f5f5;
}
.video-appraisal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 60px 40px;
  max-width: 1200px;
  margin-top: 28vh;
  margin-left: 10vh;
  gap: 40px;
}

.left {
  flex: 1;
  min-width: 320px;
  text-align: center;
}

.headline {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ff6600;
  margin-bottom: 20px;
  margin-left: 14vh;
}

.right {
  flex: 1;
  min-width: 320px;
}

.section-title {
  margin-top: 0px;
  font-size: 42px;
  font-weight: bolder;
  color: #222;
  margin-bottom: 40px;
  text-align: left;
}

.benefit-box {
  background-color: #f7f5f5;
  border-radius: 16px;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 48px;
  color: black;
  flex-shrink: 0;
}

.benefit-box h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #222;
}

.benefit-box p {
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}

/* caption */
.captions {
  display: flex;
  background-color: #fa751c;
  padding: 14px 20px;
}
.left-logo {
  margin-left: 90px;
}

.left-logo,
.right-logo {
  opacity: 0.4;
}

.right-logo {
  margin-left: 30px;
}

.bio {
  margin-top: 20px;
  margin-left: 40px;
}

.bio h1 {
  font-size: 33px;
  color: white;
}

.bio h1 span {
  color: #000;
}
.bio p {
  text-align: justify;
  color: white;
  line-height: 1.4;
  font-size: 13px;
}

.payment-container {
  display: flex;
  flex-wrap: wrap;
  background: url(/worker.jpg);
  background-size: cover;
  color: #333;
  padding: 60px 20px;
  gap: 30px;
}

.payment-left {
  flex: 1;
  min-width: 300px;
  background-color: transparent;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  margin-left: 40px;
}
.left-bio {
  color: #ff7f00;
}

.payment-left h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
  margin-top: -20px;
}

.payment-left p {
  font-size: 16px;
  line-height: 1.74;
  margin-bottom: 20px;
  font-family: "Segoe UI";
}

.get-quote-btn {
  background-color: #ff9900;
  color: #fff;
  padding: 14px 24px;
  border: 2px solid #ff9900;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.get-quote-btn:hover {
  background-color: transparent;
}

.payment-right {
  flex: 2;
  min-width: 400px;
  background-color: #f5f5f5;
  padding: 10px 12px;
  padding-right: 90px;
}

.payment-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-top: 72px;
}

.payment-card {
  flex: 1;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 30px;
  padding-right: 45px;
  text-align: left;
  transition: all 0.2s ease-in;
}

.payment-card:hover {
  color: white;
  background-color: #ff7f00;
}

.payment-card:hover .icon-card {
  color: white;
}

.payment-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.payment-card p {
  font-size: 14px;
  margin-bottom: 6px;
}

.icon-card {
  font-size: 47px;
  color: #ff7f00;
}

.arrow-icon {
  font-size: 28px;
  background-color: white;
  border: none;
  border-radius: 50px;
  margin-top: 20vh;
  padding: 2px;
}

.payment-satisfaction {
  text-align: left;
  margin-left: 13vh;
  font-size: 15px;
  color: #444;
}

.payment-satisfaction a {
  color: #ff9900;
  text-decoration: none;
  font-weight: bold;
}

/* ratings */
.review-wrapper {
  background-color: #fff;
  padding: 60px 40px;
  text-align: center;
  color: #333;
}

.star-bar-top {
  color: #ff7f00;
  font-size: 62px;
  margin: 0px;
}

.review-score {
  font-size: 22px;
  color: #ff7f00;
}

.review-heading {
  font-size: 48px;
  margin-bottom: 30px;
  margin-top: 0px;
  color: black;
  font-weight: bolder;
}

.review-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.review-card {
  background-color: transparent;
  border-radius: 12px;
  padding: 55px 20px;
  max-width: 370px;
  flex: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  border: 1px solid #ff7f00;
  text-align: left;
}

.star-bar {
  color: #ff7f00;
  font-size: 22px;
  margin-top: -40px;
}

.review-text {
  font-size: 18px;
  margin-bottom: 12px;
  font-family: "Segoe UI", sans-serif;
}

.review-name {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.review-meta {
  color: #777;
}

/* Stats */
.stats-section {
  background: url(/stats.jpg);
  background-size: cover;
  padding: 2rem 8rem;
  text-align: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0rem;
  margin-bottom: 3rem;
}

.stat-card {
  background: transparent;
  padding: 1.5rem;
  border-radius: 10px;
  transition: transform 0.2s ease;
}
.stat-card h4 {
  font-size: 32px;
  color: #ff7f00;
  margin-bottom: 12px;
}

.stat-card h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 0.5rem;
}

.stat-card p {
  font-size: 1rem;
  color: #fff;
}

.partners-section {
  text-align: center;
  padding: 18px 20px;
  background-color: #ff7f00;
  color: white;
}

.partners-head {
  font-size: 18px;
}

.partners-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.partner-card {
  display: flex;
  align-items: center;
  width: 120px;
  padding-right: 50px;
  margin: 20px;
}

.partner-icon {
  font-size: 2rem;
  color: white;
  margin-bottom: 12px;
}

.partner-name {
  font-size: 2.2rem;
  padding-left: 20px;
}

.hero-vehicle-banner {
  background-image: url("/car.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.hero-vehicle-overlay {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.hero-vehicle-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 12rem;
}

.hero-vehicle-brand-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.hero-vehicle-brand-item {
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;
  padding: 8px 16px;
  border-radius: 20px;
}
/* Faqs */
.faq-section {
  background-color: #fff;
  text-align: center;
  padding: 32px 18px;
}

.faq-head {
  color: #ff7f00;
}

.faq-header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.faq-qs {
  width: 700px;
  margin-left: 50vh;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  cursor: pointer;
  color: orange;
}

.faq-question span {
  font-size: 22px;
  color: orange;
}
/* captions-shoppng */
.captions-shopping {
  display: flex;
  background-color: #fc8739;
}
.cap-left-logo {
  margin-top: 2rem;
  margin-bottom: 0px;
}

.cap-left-logo,
.cap-right-logo {
  opacity: 0.4;
}

.cap-right-logo {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 80px;
}

.cap-bio {
  margin-top: 20px;
  margin-left: 70px;
  text-align: center;
}

.cap-bio h1 {
  font-size: 34px;
  color: white;
}

.cap-bio h1 span {
  color: #000;
}
.cap-bio p {
  color: white;
  line-height: 1.4;
  font-size: 17px;
}

/* blogs */
.blog-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.blog-heading {
  font-size: 2.4rem;
  margin-bottom: 8vh;
}

.blog-subheading {
  color: orange;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 1.2brem;
}

.blog-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-card {
  width: 300px;
  background: white;
  padding-bottom: 5vh;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.blog-image-wrapper {
  position: relative;
}

.blog-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.blog-date {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #fa751c;
  color: #fff;
  padding: 6px 12px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 4px;
}

.blog-content {
  padding: 20px;
  text-align: left;
}

.blog-meta {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 10px;
}

.blog-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8vh;
}

.blog-readmore {
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-weight: bold;
}

.blog-readmore span {
  text-decoration: underline black;
}
.comments {
  margin-left: 17px;
}

.blog-arrow {
  color: orange;
  text-decoration: none !important;
}

/* payment */
.payment {
  display: flex;
  background-color: #fa751c;
  padding: 14px 20px;
}

.paymentrightlogo {
  margin-left: 50vh;
  opacity: 0.7;
}

.paymentbio {
  text-align: center;
  margin-top: 20px;
  margin-left: 28rem;
}

.paymentbio h1 {
  font-size: 33px;
  color: white;
}

.paymentbio h1 span {
  color: #000;
}
.paymentbio p {
  text-align: justify;
  color: white;
  line-height: 1.4;
  font-size: 13px;
}

.paymentbutton {
  position: relative;
  overflow: hidden;
  background: white;
  color: black;
  border: none;
  border-left: 3px solid rgba(224, 34, 8, 0.849);
  padding: 1rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 34px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.paymentbutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(224, 34, 8, 0.849);
  z-index: 0;
  transition: width 0.4s ease-in-out;
}

.paymentbutton:hover::before {
  width: 98%;
}

.paymentbutton:hover span {
  color: white;
}

.paymentbutton span {
  position: relative;
  z-index: 1;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    font-size: 13px;
  }
  .navbar-left {
    width: 100%;
    margin-left: 0;
    height: auto;
  }
  .hamburger {
    display: block;
    font-size: 2rem;
    margin-left: auto;
  }
  .menu-links {
    display: none;
    width: 100%;
    margin-top: 1rem;
    position: absolute;
    left: 0;
    top: 60px;
    background: rgba(56, 51, 51, 0.95);
    z-index: 99;
  }
  .menu-links.open {
    display: block;
    transition: all 2s ease-in;
  }
  .menu-links ul {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }
  .menu-links li {
    width: 100%;
    text-align: center;
  }
  .menu-links a {
    display: block;
    padding: 0.5rem 0;
  }
  .btn-filled {
    margin-left: 70px;
  }

  /* Footer */
  .footer {
    flex-direction: column;
    padding: 30px 16px;
    gap: 20px;
  }
  .support-email h2 {
    font-size: 2.2vh;
  }
  .support-email {
    margin-left: -80px;
  }
  .footer-left,
  .footer-links {
    margin-left: 0;
    min-width: unset;
    max-width: unset;
    height: auto;
    flex-direction: column;
    gap: 16px;
  }
  .social-icons {
    margin-left: 0;
    min-width: unset;
    max-width: unset;
    height: auto;
    gap: 16px;
  }

  .hero-section,
  .how-work {
    position: static !important;
    top: 50% !important;
    left: 50% !important;
    width: 100% !important;
    margin: 20px auto !important;
    padding: 0 10px !important;
    text-align: center;
  }

  .hero-section h1 {
    font-size: 24px;
  }
  .hero-section p {
    font-size: 13px;
  }
  .hero-section h1,
  .car-form{
    margin-top: 50%;
  }

  .video-appraisal,
  .payment-container,
  .review-row,
  .stats-grid,
  .blog-grid {
    flex-direction: column !important;
    gap: 16px !important;
    padding: 12px !important;
    margin: 0 !important;
    width: 100% !important;
  }
  .partners-grid {
    flex-direction: column !important;
    gap: 16px !important;
    padding: 12px !important;
    margin: 0 !important;
    width: 0% !important;
  }
  .faq-qs {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .car-form{
    margin-left: 40% !important;
  }

  .bio,
  .paymentbio,
  .cap-bio {
    margin: 0 !important;
    padding: 10px !important;
    font-size: 13px !important;
    text-align: center !important;
  }
  .bio h1,
  .paymentbio h1,
  .cap-bio h1,
  .how-work h2,
  .payment-left h1,
  .review-heading,
  .partners-head,
  .hero-vehicle-title,
  .blog-heading {
    font-size: 18px !important;
  }
  .box h3{
    font-size: 13px !important;
  }
  .bio p,
  .paymentbio p,
  .cap-bio p,
  .payment-left p,
  .review-row p,
  .box p,
  .faq-question,
  .blog-subheading {
    font-size: 10px !important;
  }

  .partner-card p{
    font-size: 18px !important;
  }

  .payment-left{
    margin-left: 0px;
  }

  .left-logo,
  .right-logo {
    margin-left: 0px; 
    margin-top: 17%;
  }
  .cap-right-logo-img{
    display: none;
  }
  .bio p {
    width: 100%;
  }
  .left-logo img,
  .right-logo img,
  .paymentrightlogo img,
  .cap-left-logo-img,
  .cap-right-logo-img {
    max-width: 60px !important;
    height: auto !important;
    margin: 0 !important;
  }
  
  .paymentbutton span {
    width: 140px;
  }
  .hero-vehicle-brand-list{
    gap: 0px;
  }
  
  .hero-vehicle-logo {
    width: auto;
    height: 70px;
  }

  .appraisal-img {
    width: auto;
  }

  .section-title {
    font-size: 2rem;
  }
}
